<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css"/>
    <title>List</title>
</head>
<body>
    <div class="container">
        <a href="index" class="btn btn-info">홈으로</a>
        <table class="table">
            <tr>
                <th>아이디</th>
                <th>이름</th>
                <th>번호</th>
                <th>e-mail</th>
                <th>DATE</th>
            </tr>
            {% for tmp in key %}
            <tr>
                <td>{{tmp.0}}</td>
                <td>{{tmp.2}}</td>
                <td>{{tmp.3}}</td>
                <td>{{tmp.4}}</td>
                <td>{{tmp.5}}</td>
            </tr>
            {% endfor %}
    </table>
    </div>
</body>
</html>