<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>dataframe</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
</head>
<body>
    dataframe
    <hr />
    {{ key | safe}}
    <hr />
    리스트 출력 : 
    {{ key1 }}
    
    <hr />
    반복문 사용:
    {% for a in key1 %}
    <br>{{a.0}} {{a.1}} {{a.2}}<br />
    {% endfor %}
    
</body>
</html>