<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css"/>
    <title>Document</title>
</head>
<body>
    {% include '../menu.html' %}
    <form action="/shop/insert" method="post">
        ITM_NAME : <input type="text" class="form-control" name="na" /><br />
        ITM_CONTENT : <input type="text" class="form-control" name="co" /><br />
        ITM_PRICE : <input type="text" class="form-control"  name="pr" /><br />
        ITM_QTY : <input type="text"class="form-control"  name="qt" /><br />
        <input type="submit" class="btn btn-primary" value="insert" />
    </form>
</body>
</html>