<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>게시판내용</title>
    <link href="static/css/bootstrap.min.css" rel="stylesheet" />
    <link href="static/css/mystyle.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <form action="boardc" method="post">
        <div class="box">            
            <div class="form-inline" style="margin-top:5px">
                <label style="width:90px">글번호</label>
                <label>{{ key[0] }}</label>    
            </div>

            <div class="form-inline" style="margin-top:5px">
                <label style="width:90px">제목</label>
                <label>{{ key[1] }}</label>
            </div> 

            <div class="form-inline" style="margin-top:5px">    
                <label style="width:90px">내용</label>
                {% autoescape false %}
                <label>{{ key[2] | replace("\n","<br/>")}}</label>
                {% endautoescape %}
            </div>    
            <div class="form-inline" style="margin-top:5px">
                <label style="width:90px">작성자</label>
                <label>{{ key[3] }}</label>
            </div>

            <div class="form-inline" style="margin-top:5px">
                <label style="width:90px">조회수</label>
                <label>{{ key[4] }}</label>
            </div>
            
            <div class="form-inline" style="margin-top:5px">
                <label style="width:90px">날짜</label>
                <label>{{ key[5] }}</label>
            </div>

            <div class="form-inline" style="margin-top:5px">
                <label style="width:90px"></label>
                <a href="board" class="btn btn-success">글목록으로</a>&nbsp;
                <a href="boarde?no={{ key[0] }}" class="btn btn-success">수정</a>&nbsp;
                <a href="boardd?no={{ key[0] }}" class="btn btn-success">삭제</a>&nbsp;
                {% if prev[0] != 0 %}
                <a href="boardc?no={{prev[0]}}" class="btn btn-success">이전글</a>&nbsp;
                {% endif %}

                {% if next[0] != 0 %}
                <a href="boardc?no={{next[0]}}" class="btn btn-success">다음글</a>&nbsp;
                {% endif %}
            </div>
        </div>
        </form>            
    </div>
</body>
</html>       